
.content-pane {
    -fx-background-color: white;
}

.text {
    -fx-font-family: "Arial";
}

.label-header {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #303F9F;
}

.label-content {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: #303F9F;
}

.jfx-button {
    -fx-text-fill: white;
    -fx-background-color: #303F9F;
    -fx-font-size: 14px;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #303F9F;
}

.table-view {
    -fx-table-color: rgba(82, 100, 174, 0.4);
    -fx-table-rippler-color: rgba(82, 100, 174, 0.6);
}

.table-view:focused {
    -fx-background-color: -fx-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: -fx-table-color;
    -fx-table-cell-border-color: -fx-table-color;
    -fx-text-fill: BLACK;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: BLACK;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #9FA8DA;
    -fx-background-color: #303F9F;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-padding: 5 0 5 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: white;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 5 0 5 0;
    -fx-alignment: top-center;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 5 0 5 0;
    -fx-alignment: top-center;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}

.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.table-view .menu-item:focused {
    -fx-background-color: -fx-table-color;
}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}