.root {
    -fx-background-color: white;
}

.content-pane {
    -fx-background-color: white;
}

.text {
    -fx-font-family: "Arial";
}

.label-menu {
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-text-fill: #303F9F;
}

.label-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #303F9F;
}

.label-content {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: #303F9F;
}

.label-title1 {
    -fx-font-size: 42px;
    -fx-font-weight: normal;
    -fx-text-fill: #303F9F;
}

.label-title2 {
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-text-fill: #303F9F;
}

.text-content {
    -fx-font-size: 12px;
    -fx-text-alignment: justify;
    -fx-fill: #303F9F;
}

.text-content-big {
    -fx-font-size: 16px;
    -fx-text-alignment: justify;
    -fx-fill: #303F9F;
}

.jfx-text-field {
    -fx-font-size: 12px;
    -fx-text-fill: #303F9F;
    -fx-prompt-text-fill: #7986CB;
    -jfx-focus-color: #3F51B5;
    -jfx-unfocus-color: #7986CB;
}

.jfx-combo-box {
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #303F9F;

    -jfx-focus-color: #3F51B5;
    -jfx-unfocus-color: #7986CB;
}

.jfx-combo-box .label {
    -fx-text-fill: #303F9F;
}

.jfx-combo-box .list-view .label {
    -fx-text-fill: #303F9F;
}

.jfx-combo-box .list-view .list-cell:hover {
    -fx-background-color: #7986CB;
}

.jfx-combo-box .list-view .list-cell:hover .label {
    -fx-text-fill: white;
}

.jfx-combo-box .list-view .cell:selected {
    -fx-background-color: #3F51B5;
}

.jfx-combo-box .list-view .cell:selected .label {
    -fx-text-fill: white;
}

.jfx-radio-button {
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-text-fill: #303F9F;

    -jfx-selected-color: #3F51B5;
    -jfx-unselected-color: #7986CB;
}

.jfx-combo-box .arrow {
    -fx-background-color: #303F9F;
}

.glyph-icon-small-blue {
    -glyph-size: 16px;
    -fx-fill: #303F9F;
}

.glyph-icon-small-white {
    -glyph-size: 13px;
    -fx-fill: white;
}

.glyph-icon-medium-blue {
    -glyph-size: 32px;
    -fx-fill: #303F9F;
}

.glyph-icon-big-blue {
    -glyph-size: 72px;
    -fx-fill: #303F9F;
}

.jfx-button {
    -fx-text-fill: white;
    -fx-background-color: #303F9F;
}

.jfx-button-small {
    -fx-font-size: 13px;
}

.jfx-button-medium {
    -fx-font-size: 14px;
}

.jfx-button-large {
    -fx-font-size: 15px;
}

.jfx-toggle-button {
    -fx-font-size: 12px;
    -fx-text-fill: #303F9F;

    -jfx-size: 10;
    -jfx-disable-visual-focus: false;

    -jfx-toggle-color: #3F51B5;
    -jfx-untoggle-color: #C5CAE9;
    -jfx-toggle-line-color: #7986CB;
    -jfx-untoggle-line-color: #9FA8DA;
}
