.root {
    -fx-background-color: #303F9F;
}

.text {
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

.Title {
    -fx-font-size: 36px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

.glyph-icon {
    -glyph-size: 14px;
    -fx-text-fill: white;
}